.container{
    text-align:center;
    margin-top: 25px;
}

#screen {
    border: 3px solid black;
    font-size: 33px;
    border-radius: 8px;
}
#calc{
    color: cadetblue;
}
table{
    margin: auto;

}
table{
    font-size: 35px;
    
}
button {
    font-size: 40px;
    background-color: #289397;
    width: 102px;
    height: 58px;
    border-radius: 6px;
}
.frame {
    background-color: #114568;
    padding: 23px;
    border-radius: 8px;
    display: inline-block;
}